{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section>
    <h1>ADD TASK - Django Forms</h1>
    <form action="{% url 'django_forms_labs_create_task' %}" method="POST">
      {% csrf_token %}

      <ul>
        {{ create_form.as_ul }}
      </ul>      
      
      <button>Add</button>
    </form>
  </section>
  <section>
    <h1>Tasks</h1>
    <ul>
      {% for task in tasks %}
        <li><strong>{{ task.title }}</strong>,<em> due on {{ task.due | date:'d.m.Y' }}</em> 
          <a href="{% url 'django_forms_labs_delete_task' task.id %}">del</a>
          <a href="{% url 'django_forms_labs_update_task' task.id %}">update</a>
        </li>
      {% empty %}
        <li>No tasks!</li>
      {% endfor %}    
    </ul>
  </section>
{% endblock content %}
<p>Test</p>
