{% extends "todo_app/base.html" %}

{% load static %}
{% load custom_filters %}

{% block content_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'todo_app/index.css' %}">  
{% endblock content_head %}


{% block content %}  
  <main>    
    <section class="list_todos">
      <div class="header clear">
        <h1>Current Tasks:</h1>
        <div class="buttonHolder">
          <a href="{% url 'todo_add' %}" class="button">+</a>        
        </div>
      </div>
      <ul>
        {# using https://docs.djangoproject.com/en/2.1/ref/templates/builtins/#for-empty #}
        {% for task in tasks %}                                       
          <li class="clear">            
            <span>
              {% if task.completed %}
                <del>{{task.title}}</del>
              {% else %}
                {{task.title}}
              {% endif %}
            </span>
            <span>             
              <a href="{% url 'todo_complete' task.id%}"><i class="fa fa-check"></i></a>
              <a href="{% url 'todo_delete' task.id%}"><i class="fa fa-trash"></i></a>
              <a href="{% url 'todo_update' task.id %}"><i class="fa fa-pencil"></i></a>
            </span>                        
          </li>
        {% empty %}
          <li>No tasks!</li>
        {% endfor %}
      </ul>
    </section>
  </main>
{% endblock content %}

