{% extends "todo_app/base.html" %}

{% load static %}

{% block content_head %}
  
{% endblock content_head %}

{% block content %}
  <main>
    <form action="{% url 'todo_update' task.id %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          <label>{{ field.label }}</label>
          {{ field }}
          
          {% for item in field.errors  %}
          <div style="color:#F00">{{item}}</div>
          {% endfor %}
                    
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Update</button>  
    </form>
  </main>  
{% endblock content %}
