{% extends "todo_app/base.html" %}

{% load static %}

{% block content_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'todo_app/todo_form.css' %}">
{% endblock content_head %}

{% block content %}
  <main>
    {# <img src="/media/images/todo1.png"> #}
    <form action="{% url 'todo_update' task.id %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          <label>{{ field.label }}</label>
          {{ field }}
          <i class="fa fa-question-circle-o help_text" title="{{field.help_text}}"></i>
          
          {% for item in field.errors  %}
          <div style="color:#F00">{{item}}</div>
          {% endfor %}
                    
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Update</button>  
    </form>
  </main>  
{% endblock content %}
